<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon size="large" slot="start" src="/assets/icon/logo.svg"></ion-icon>

    <ion-title>
      Smart Classroom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Smart Classroom</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sign up</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form>
              <ion-input type="text" inputmode="text" name="firstName"
                placeholder="First Name"></ion-input>

              <ion-input type="text" inputmode="text" name="lastName"
                placeholder="Last Name"></ion-input>

              <ion-input type="email" inputmode="email" name="email"
                placeholder="Your email address" autofocus="true"></ion-input>

              <ion-input type="password" name="password"
                placeholder="Password"></ion-input>

              <ion-list>
                <ion-radio-group [value]="1">
                  <ion-list-header>
                    <ion-label>Your Role</ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-label>Teacher</ion-label>
                    <ion-radio slot="start" value="1"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Student</ion-label>
                    <ion-radio slot="start" value="2"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>

              <ion-input type="text" inputmode="text" name="specialization"
                placeholder="Your Specialization"></ion-input>

              <ion-button color="primary">Signup</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
