<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon size="large" slot="start" src="/assets/icon/logo.svg"></ion-icon>

    <ion-title>
      Smart Classroom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Smart Classroom</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form>
              <ion-input type="email" inputmode="email" name="email"
                placeholder="Your email address" autofocus="true"></ion-input>

              <ion-input type="password" name="password"
                placeholder="Password"></ion-input>

              <ion-button color="primary">Login</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
